/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

@theme {
	--font-fallback:
		'Inter Variable', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	/* Emphasis */
	--color-emphasis-low: var(--color-gray-500);
	--color-emphasis-medium: var(--color-gray-800);
	--color-emphasis-high: var(--color-gray-950);

	--color-white: #fff;
	--color-black: #000;
	--color-transparent: transparent;
	--color-current: currentColor;
}

@media screen (prefers-color-scheme: dark) {
	:@theme inline {
		--color-emphasis-low: var(--color-gray-500);
		--color-emphasis-medium: var(--color-gray-100);
		--color-emphasis-high: var(--color-gray-50);
	}
}

@layer utilities {
	/* Responsive spacing */
	.p {
		@apply p-6 sm:p-8 md:p-10;
	}

	.px {
		@apply px-6 sm:px-8 md:px-10;
	}

	.py {
		@apply py-6 sm:py-8 md:py-10;
	}

	.pt {
		@apply pt-6 sm:pt-8 md:pt-10;
	}

	.pb {
		@apply pb-6 sm:pb-8 md:pb-10;
	}

	.pl {
		@apply pl-6 sm:pl-8 md:pl-10;
	}

	.pr {
		@apply pr-6 sm:pr-8 md:pr-10;
	}

	.m {
		@apply m-6 sm:m-8 md:m-10;
	}

	.mx {
		@apply mx-6 sm:mx-8 md:mx-10;
	}

	.my {
		@apply my-6 sm:my-8 md:my-10;
	}

	.mt {
		@apply mt-6 sm:mt-8 md:mt-10;
	}

	.mb {
		@apply mb-6 sm:mb-8 md:mb-10;
	}

	.ml {
		@apply ml-6 sm:ml-8 md:ml-10;
	}

	.mr {
		@apply mr-6 sm:mr-8 md:mr-10;
	}

	.title-1 {
		@apply font-display mb-[.35em] text-3xl font-semibold sm:text-4xl md:text-5xl;
	}

	.title-2 {
		@apply font-display text-2xl font-semibold sm:text-3xl md:text-4xl;
	}

	.title-3 {
		@apply font-display text-xl font-semibold sm:text-2xl md:text-3xl;
	}

	.title-4 {
		@apply text-lg font-semibold sm:text-xl md:text-2xl;
	}

	.body-lg {
		@apply text-base font-normal sm:text-lg md:text-xl;
	}

	.body-base {
		@apply text-sm font-normal sm:text-base md:text-lg;
	}

	.body-sm {
		@apply text-xs font-normal sm:text-sm md:text-base;
	}
}
